h1 {
    color: red;
    text-align: center;
    font-size: 2.4em;
}
h3 {
    color: blue;
    font-size: 27px;
}

#para1, #para2 {
    background-color: grey;
} 
#para3 {
    background-color: pink;

}
#aliright {
    color: green;
    text-align: right;
    text-decoration: underline;

}
strong {
    color: yellowgreen;
    font-weight: normal;
}
em {
    color:orange;
    text-decoration: underline;
    font-size: larger;
    font-style: normal;
}
